 @tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,300&display=swap');

 @layer components{
.icon{
    @apply bg-slate-200 rounded-full p-3 text-xl hover:bg-slate-300  duration-300;
  } 
        .middleBox {
          @apply mx-auto rounded-xl shadow-fb-shadow max-w-[580px] bg-white
        }
    
        .userImg {
          @apply w-[45px] h-[45px] rounded-full
        }
        .input {
          @apply bg-slate-200 p-3 rounded-3xl outline-none w-full
        }
        .emoji{
          @apply w-[25px]
        }
}
body{
  padding-bottom: 100px;
 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: 400;
 background-color: rgba(255, 255, 255, .8) ;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.story {
box-shadow: 163px 200px 389px 200px rgba(0, 0, 0, 0.32) inset;
  -webkit-box-shadow: 163px 200px 389px 200px rgba(0, 0, 0, 0.32) inset;
  -moz-box-shadow: 163px 200px 389px 200px rgba(0, 0, 0, 0.32) inset;
}
  
.stories{
  background-color: red;
  display: flex;
  flex-wrap: wrap;
}
::-webkit-scrollbar {
  width: 10px;
    border-radius: 10px;
    display: none;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    display:block;
    background: grey;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    display: block;
    background:grey;
  }



  
 
